.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 2s linear;
    height: 40vmin;
    pointer-events: none;
}

.notification-message {
    .title,
    .message {
        text-align: start;
    }
}